## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Jamestown,US,22.32,mist,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,1,Ushuaia,AR,53.26,clear sky,-54.8000,-68.3000,Albatross Hotel
2,2,Rikitea,PF,78.44,light rain,-23.1203,-134.9692,People ThankYou
3,3,Byron Bay,AU,71.87,overcast clouds,-28.6500,153.6167,Backpackers Inn
4,4,Severo-Kurilsk,RU,28.98,light snow,50.6789,156.1250,Kak Doma

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City=="Hastings"]
vacation_end = vacation_df.loc[vacation_df.City=="Hastings"]
vacation_stop1 = vacation_df.loc[vacation_df.City=="Warrington"]
vacation_stop2 = vacation_df.loc[vacation_df.City=="Haverfordwest"]
vacation_stop3 = vacation_df.loc[vacation_df.City=="Bideford"]

In [93]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start[["Lat", "Lng"]].to_numpy()[0,0],vacation_start[["Lat", "Lng"]].to_numpy()[0,1])
end = (vacation_end[["Lat", "Lng"]].to_numpy()[0,0],vacation_end[["Lat", "Lng"]].to_numpy()[0,1])
stop1 = (vacation_stop1[["Lat", "Lng"]].to_numpy()[0,0],vacation_stop1[["Lat", "Lng"]].to_numpy()[0,1])
stop2 = (vacation_stop2[["Lat", "Lng"]].to_numpy()[0,0],vacation_stop2[["Lat", "Lng"]].to_numpy()[0,1])
stop3 = (vacation_stop3[["Lat", "Lng"]].to_numpy()[0,0],vacation_stop3[["Lat", "Lng"]].to_numpy()[0,1])

In [94]:
start, stop1, stop2, stop3

((50.8552, 0.5729), (53.3925, -2.5802), (51.8017, -4.9691), (51.0179, -4.2046))

In [96]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start_to_end = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='BICYCLING')
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [98]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,675,Hastings,GB,41.90,broken clouds,50.8552,0.5729,Zanzibar Hotel
1,236,Warrington,GB,42.46,scattered clouds,53.3925,-2.5802,Villaggio Hotel
2,627,Haverfordwest,GB,42.39,scattered clouds,51.8017,-4.9691,Coastal Cottages of Pembrokeshire
3,601,Bideford,GB,45.32,scattered clouds,51.0179,-4.2046,Durrant House Hotel

In [101]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat     Lng
0  50.8552  0.5729
1  53.3925 -2.5802
2  51.8017 -4.9691
3  51.0179 -4.2046

In [102]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))